<%- include header %>
<p>
  <span><a class="edit" href="/edit/<%= model._id %>">编辑</a></span>
  <span><a class="edit" href="/remove/<%= model._id %>">删除</a></span>
</p>
<p class="info">
  <img src="<%= model.user.userHead %>" /> 作者：<a href="/u/<%= model.postName %>"></a> <a href="/u/<%= model.postName %>"><%= model.postName %></a> | 
  日期：<%= model.createDate.std %>
</p>
<p><%- model.postBody %></p>
<p class="info">阅读：<%= model.pv %> | 评论：<%= model.commentQty  %> | 
标签：<%- include printPostTags %>
</p>
<%- include comment %>
<%- include footer %>