<%- include header %>
<% posts.forEach(function (post, index) { %>
  <p><h2><a href="/p/<%= post._id %>"><%= post.postTitle %></a></h2></p>
  <p class="info">
    作者：<a href="/u/<%= post.postName %>"><%= post.postName %></a> | 
    日期：<%= post.createDate.std %>
  </p>
  <p><%- post.postBody %></p>
  <hr />
<% }) %>
<%- include paging %>
<%- include footer %>